.about-container, .about-container2{
    background-color: rgb(30, 29, 29);
    color: rgb(255, 255, 255);
    height: auto;
    width: auto;
    
 
    
}

.about-name{
    color: rgb(255, 255, 255);
    margin-top: 100px;
    font-size: 50px;
    font-weight: 800;
  
    
}


#about-summery{
    font-size: 20px;
    
    
}
.skills{
    width: 500px; 
}
.ESR-container{
    display: inline;
    
    
    
}
.edu-text{
    padding: 10px;
}
.skills-bar{
    padding: 10px;
}
.resume-button{
    margin: 20px;
}
a.nav-link{
    color: white !important;
}
a.nav-link.active{
    color: rgb(206, 5, 5) !important;
}

/* phone */

@media  ( max-width:426px ){
  .skills{
    width: 350px;
  }
  .about-container{
    width: auto;
  
  }
  .about-abouttext{
    margin-left: -390px;
  }
  .about-img{
    display: none;
  }
 
}
/* tab */

@media (min-width:426px) and (max-width:769px){    
    .ESR-container{
        margin-left: -150px;
       
    }

}
@media (min-width:770px) {  
    .about-abouttext{
        margin-left: -150px;
    }
}
@media (min-width: 992px) {
    .about-abouttext{
        margin-left: -150px;
    }
    #about-summery{
        width: 600px;
    }
    .about-name{
        margin-left: -30px;

    }
    .about-container{
        height: 800px;
    }
}