.about-container, .about-container2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: auto;
    width: auto;
    align-items: center;
    overflow: hidden;
    
 
    
}
.about-img{
    width: 350px;
    height: auto;
    margin-top: 200px;
    margin-left: 100px;
}

div.ESR-container{

    margin-left: 0px;
}
.about-name{
    color: rgb(0, 0, 0);
    margin-top: 100px;
    font-size: 50px;
    font-weight: 600;
  
    
}


#about-summery{
    font-size: 1.2rem;
    
    
}
.skills{
    width: 500px; 
}

.edu-text{
    padding: 10px;
}
.skills-bar{
    padding: 10px;
}
.resume-button{
    margin: 20px;
}
a.nav-link{
    color: rgb(0, 0, 0) !important;
    font-weight: 500;
}
a.nav-link.active{
    color: rgb(206, 5, 5) !important;
}

/* phone */

@media (min-width:320px) and (max-width:642px){ 
  
  .about-container{
    width: auto;
  
  }
  
  img.about-img{
    display: none;
  }
  .skills-bar{
    width: 30px;
  }
}
/* tab */


@media (min-width:770px) {  
    .about-abouttext{
        margin-left: -150px;
    }
}
@media (min-width: 992px) {
    .about-abouttext{
        margin-left: -150px;
    }
    #about-summery{
        width: 600px;
    }
    .about-name{
        margin-left: -30px;

    }
    .about-container{
        height: 800px;
        width: 100%;
    }
}
@media (min-width:  1024px) {

    .ESR-container{
   margin-left: 450px;
   
    
    
    
    }

   



}