
.bar {
  position:relative;
  overflow-y: hidden;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color:rgb(0, 0, 0); 
 
}
#hometext{
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: -10px;
  margin-top: 15px;
}

.navbar .navbar-nav .nav-link {
  color: rgb(0, 0, 0) !important;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbar .navbar-nav .nav-link.active {
  color: #ff0505 !important;
  text-decoration: underline;
}

.navbar .navbar-nav .nav-link:hover {
  color: #eb0505 !important;
}


button.navbar-toggler {
  background-color: rgb(255, 9, 0);
  border: none;
}



@media (max-width: 426px) {
  .navbar {
   position: fixed;
   
   background-color: rgb(147, 151, 154) !important;
  }
}
