
.project-container{
    overflow: hidden;
    height: auto;
    background-color: rgb(255, 255, 255);
}
.project-name{
    font-weight: 800;
    font-size:50px ;
    text-align: center;
    margin-top: 100px;
}

#project{
    margin-top: 50px;
    margin-bottom: 100px;
    overflow: hidden;
    color: rgb(0, 0, 0);
}
.project-card{
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.pro-text1{
    margin-top: 450px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.calculator-button{
    background-image: url('./project-img.avif');
    width: 300px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    border: none;
    
   
}

.project-heading{
    font-size: x-large;
    color: rgb(255, 255, 255);
}
.project-text{
    font-weight: 600;
    margin-top: 300px;
    color: rgb(245, 238, 238);

}
.todolist-button{
    background-image: url('./project-img.avif');
    width: 300px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    border: none;
}
.formvalidation-button{
    background-image: url("./project-img.avif");
    width: 300px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    border: none;
    
}
.portfolio-button{
    background-image: url("./project-img.avif");
    width: 300px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    border: none;
    
}
.weather-button{
    background-image: url("./project-img.avif");
    width: 300px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    border: none;
    
}
.xogame-button{
    background-image: url("./project-img.avif");
    width: 300px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    border: none;
    

}












@media (max-width:426px){
    .project-container{
        height: auto;
       
    }
    .project-row{
        margin-top: -0px;
    }
}